<div class="m-2">
    <button [routerLink]="['/students/new']">New Student</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Degree</th> 
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of students; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{std.name}}</td>
            <td>{{std.faculty}}</td>
            <td>{{std.Degree}}</td> 
            <td>
                <i class="bi text-primary fs-4 bi-info-circle" [routerLink]="['/students/details',std.id]"></i> |
                <i class="bi text-warning fs-4 bi-pencil-square" [routerLink]="['/students/edit',std.id]"></i> |
                <i class="bi text-danger fs-4 bi-trash" (click)="delete(std.id)"></i>
            </td>
        </tr>
    </tbody>
</table>